<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">

<listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReportListener"></listener>
</listeners>

	<parameter name="setEnvironment" value="https://rahulshettyacademy.com"></parameter>
	<test name="MyTest">

		<classes>
			<class name="com.test.LibraryOperationsTest" />
			<class name="com.test.OtherTestngTest" />
		</classes>
	</test>
</suite>